*{
    margin: 0;
    padding: 0;
}

body{
    background-color: slateblue;
}

.cabeçalho{
    background-color:#1D71A0 ;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 20%;
    padding: 12px;
}

.lista-cabeçalho{
    display: inline-block;
    padding: 30px;
    color: beige;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}

