*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightskyblue;
}

.cabeçalho{
    background-color:#1D71A0 ;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 20%;
    padding: 12px;
}

.lista-cabeçalho{
    display: inline-block;
    padding: 30px;
    color: beige;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
}
.escola{
    background-image: linear-gradient();
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 24px 0;
}
.texto-lista{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
}
.escola-imagem{
    width: 100%;
    margin: 40px;
}

